body{
  margin: 0;  
  padding: 0;
  background: url(bg.jpg) no-repeat;
  background-size: cover;
  background-color: rgba(245, 245, 245, 0.148);
  text-align: center;
}
.box{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: black;
    font-family: 'Times New Roman', Times, serif
}
.box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.box h3{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    
    
}
.box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    

}
.box h6{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    

}
.box p{
    text-align: justify;
}
ul{
    margin: 0;
    padding: 0;
}
.box li{
 display: inline-block; 
 margin: 6px;  
 list-style: none; 
}
.box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}
.box li a:hover{
    color: #b9b9b9;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }

  .imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }